In [2]:
CREATE TABLE [dbo].[Role] (
    [role_id]   INT           IDENTITY (1, 1) NOT NULL,
    [role_name] NVARCHAR (50) NULL,
    CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED ([role_id] ASC)
);

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Role' in the database.

In [2]:
INSERT INTO ROLE VALUES('Admin'),('User')

In [4]:
CREATE TABLE [dbo].[Department] (
    [department_id]   INT           IDENTITY (1, 1) NOT NULL,
    [department_name] NVARCHAR (50) NOT NULL,
    CONSTRAINT [department_id] PRIMARY KEY CLUSTERED ([department_id] ASC)
);

In [5]:
CREATE TABLE [dbo].[Category] (
    [category_id]   INT           IDENTITY (1, 1) NOT NULL,
    [category_name] NVARCHAR (50) NOT NULL,
    [department_id] INT           NOT NULL,
    CONSTRAINT [category_id] PRIMARY KEY CLUSTERED ([category_id] ASC),
    FOREIGN KEY ([department_id]) REFERENCES [dbo].[Department] ([department_id])  ON DELETE CASCADE ON UPDATE CASCADE
);

In [6]:
CREATE TABLE [dbo].[SubCategory] (
    [subcategory_id]   INT           IDENTITY (1, 1) NOT NULL,
    [subcategory_name] NVARCHAR (50) NOT NULL,
    [category_id] INT           NOT NULL,
    CONSTRAINT [subcategory_id] PRIMARY KEY CLUSTERED ([subcategory_id] ASC),
    FOREIGN KEY ([category_id]) REFERENCES [dbo].[Category] ([category_id]) ON DELETE CASCADE ON UPDATE CASCADE
);

In [7]:
CREATE TABLE [dbo].[Status] (
    [status_id]   INT           IDENTITY (1, 1) NOT NULL,
    [status_name] NVARCHAR (50) NOT NULL,
    CONSTRAINT [ticket_id] PRIMARY KEY CLUSTERED ([status_id] ASC)
);

In [8]:
CREATE TABLE [dbo].[User] (
    [user_id]       INT            IDENTITY (1001, 1) NOT NULL,
    [first_name]   NVARCHAR (50)  NOT NULL,
    [last_name]    NVARCHAR (50)  NOT NULL,
    [emp_email]    NVARCHAR (50)  NOT NULL,
    [mobile_no]    NVARCHAR (15)  NOT NULL,
    [password]         NVARCHAR (50)  NOT NULL,
    [role_id]      INT            NOT NULL,
    [user_img]      NVARCHAR (MAX) NULL,
    [joining_date] DATE           NULL,
    CONSTRAINT [emp_id] PRIMARY KEY CLUSTERED ([user_id] ASC),
    FOREIGN KEY ([role_id]) REFERENCES [dbo].[Role] ([role_id]) ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT [emp_email] UNIQUE NONCLUSTERED ([emp_email] ASC)
);

In [10]:
insert into [User] values('Shivam','Vishvakarma','shivam@gmail.com','8484849696','Admin@123',1,'https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png','2022/11/08');
insert into [User] values('Aditya','Kumar','aditya@gmail.com','9696969696','Aditya@123',2,'https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png','2022/11/08');
insert into [User] values('Saurabh','Kumar','saurabh@gmail.com','8585858585','Saurabh@123',2,'https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png','2022/11/08');
insert into [User] values('Vishnu','Singh','vishnu@gmail.com','7257257255','Vishnu@123',2,'https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png','2022/11/08');
insert into [User] values('Shivraj','Totiger','shivraj@gmail.com','7417417411','Shivraj@123',2,'https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png','2022/11/08');
insert into [User] values('Viniston','Arockiasamy','viniston@gmail.com','9639639633','Viniston@123',2,'https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png','2022/11/08');

: Msg 2627, Level 14, State 1, Line 1
Violation of UNIQUE KEY constraint 'emp_email'. Cannot insert duplicate key in object 'dbo.User'. The duplicate key value is (shivam@gmail.com).

: Msg 2627, Level 14, State 1, Line 2
Violation of UNIQUE KEY constraint 'emp_email'. Cannot insert duplicate key in object 'dbo.User'. The duplicate key value is (aditya@gmail.com).

: Msg 2627, Level 14, State 1, Line 3
Violation of UNIQUE KEY constraint 'emp_email'. Cannot insert duplicate key in object 'dbo.User'. The duplicate key value is (saurabh@gmail.com).

: Msg 2627, Level 14, State 1, Line 4
Violation of UNIQUE KEY constraint 'emp_email'. Cannot insert duplicate key in object 'dbo.User'. The duplicate key value is (vishnu@gmail.com).

In [12]:
CREATE TABLE [dbo].[Tickets] (
    [ticket_id]         INT            IDENTITY (1, 1) NOT NULL,
    [cust_name]    NVARCHAR (50)  NOT NULL,
    [cust_email]   NVARCHAR (50)  NOT NULL,
    [esc_email]    NVARCHAR (50)  NOT NULL,
    [subject]      NVARCHAR (200) NOT NULL,
    [issue_desc]   NVARCHAR (MAX) NOT NULL,
    [teamlink]     NVARCHAR (200) NOT NULL,
    [department]   INT         NOT NULL,
    [modification] Date,
    [status_id]    INT            NOT NULL,
    [user_id]       INT           NOT NULL,
    [issue_date]   DATE           NULL,
    [category]     INT         NOT NULL,
    [subcategory]  INT         NOT NULL,
    CONSTRAINT [ticket_id] PRIMARY KEY CLUSTERED ([ticket_id] ASC),
    FOREIGN KEY ([department]) REFERENCES [dbo].[Department] ([department_id]) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY ([user_id]) REFERENCES [dbo].[User] ([user_id]) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY ([status_id]) REFERENCES [dbo].[Status] ([status_id]) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY ([category]) REFERENCES [dbo].[Category] ([category_id]),
    FOREIGN KEY ([subcategory]) REFERENCES [dbo].[SubCategory] ([subcategory_id])
);

: Msg 2714, Level 16, State 5, Line 1
There is already an object named 'ticket_id' in the database.

: Msg 1750, Level 16, State 1, Line 1
Could not create constraint or index. See previous errors.