In [1]:
CREATE TABLE [dbo].[Role] (
    [role_id]   INT           IDENTITY (1, 1) NOT NULL,
    [role_name] NVARCHAR (50) NULL,
    CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED ([role_id] ASC)
);

In [2]:
INSERT INTO ROLE VALUES('Admin'),('User');

In [3]:
CREATE TABLE [dbo].[Users] (
    [user_id]       INT            IDENTITY (1001, 1) NOT NULL,
    [first_name]   NVARCHAR (50)  NOT NULL,
    [last_name]    NVARCHAR (50)  NOT NULL,
    [user_email]    NVARCHAR (50)  NOT NULL,
    [mobile_no]    NVARCHAR (15)  NOT NULL,
    [password]         NVARCHAR (50)  NOT NULL,
    [role_id]      INT            NOT NULL,
    [user_img]      NVARCHAR (MAX) NULL,
    [joining_date] DATE           NULL,
    CONSTRAINT [emp_id] PRIMARY KEY CLUSTERED ([user_id] ASC),
    FOREIGN KEY ([role_id]) REFERENCES [dbo].[Role] ([role_id]) ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT [emp_email] UNIQUE NONCLUSTERED ([user_email] ASC)
);

In [4]:
insert into [User] values('Shivam','Vishvakarma','shivam@gmail.com','8484849696','Admin@123',1,'https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png','2022/11/08');
insert into [User] values('Aditya','Kumar','aditya@gmail.com','9696969696','Aditya@123',2,'https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png','2022/11/08');
insert into [User] values('Saurabh','Kumar','saurabh@gmail.com','8585858585','Saurabh@123',2,'https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png','2022/11/08');
insert into [User] values('Vishnu','Singh','vishnu@gmail.com','7257257255','Vishnu@123',2,'https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png','2022/11/08');
insert into [User] values('Shivraj','Totiger','shivraj@gmail.com','7417417411','Shivraj@123',2,'https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png','2022/11/08');
insert into [User] values('Viniston','Arockiasamy','viniston@gmail.com','9639639633','Viniston@123',2,'https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png','2022/11/08');

In [5]:
CREATE TABLE [dbo].[Department] (
    [department_id]   INT           IDENTITY (1, 1) NOT NULL,
    [department_name] NVARCHAR (50) NOT NULL,
    CONSTRAINT [department_id] PRIMARY KEY CLUSTERED ([department_id] ASC)
);

In [6]:
insert into Department Values('Technology');
insert into Department Values('Research');

In [7]:
CREATE TABLE [dbo].[Category] (
    [category_id]   INT           IDENTITY (1, 1) NOT NULL,
    [category_name] NVARCHAR (50) NOT NULL,
    [department_id] INT           NOT NULL,
    CONSTRAINT [category_id] PRIMARY KEY CLUSTERED ([category_id] ASC),
    FOREIGN KEY ([department_id]) REFERENCES [dbo].[Department] ([department_id])  ON DELETE CASCADE ON UPDATE CASCADE
);

In [8]:
insert into Category Values('Hardware',1);
insert into Category Values('Software',1);
insert into Category Values('Power BI',2);
insert into Category Values('Tableau',2);
insert into Category Values('Chartio',2);

In [9]:
CREATE TABLE [dbo].[SubCategory] (
    [subcategory_id]   INT           IDENTITY (1, 1) NOT NULL,
    [subcategory_name] NVARCHAR (50) NOT NULL,
    [category_id] INT           NOT NULL,
    CONSTRAINT [subcategory_id] PRIMARY KEY CLUSTERED ([subcategory_id] ASC),
    FOREIGN KEY ([category_id]) REFERENCES [dbo].[Category] ([category_id]) ON DELETE CASCADE ON UPDATE CASCADE
);

In [10]:
insert into SubCategory Values('Heating',1);
insert into SubCategory Values('Touchpad',1);
insert into SubCategory Values('MS Office',2);
insert into SubCategory Values('Teams',2);
insert into SubCategory Values('Credential',3);
insert into SubCategory Values('Error',4);
insert into SubCategory Values('Login Failed',5);

In [11]:
CREATE TABLE [dbo].[Status] (
    [status_id]   INT           IDENTITY (1, 1) NOT NULL,
    [status_name] NVARCHAR (50) NOT NULL,
    CONSTRAINT [ticket_id] PRIMARY KEY CLUSTERED ([status_id] ASC)
);

In [12]:
INSERT INTO Status VALUES('Open');
INSERT INTO Status VALUES('In Progress');
INSERT INTO Status VALUES('Close');

In [14]:
CREATE TABLE [dbo].[Tickets] (
    [ticketid]         INT            IDENTITY (1, 1) NOT NULL,
    [cust_name]    NVARCHAR (50)  NOT NULL,
    [cust_email]   NVARCHAR (50)  NOT NULL,
    [esc_email]    NVARCHAR (50)  NOT NULL,
    [subject]      NVARCHAR (200) NOT NULL,
    [issue_desc]   NVARCHAR (MAX) NOT NULL,
    [teamlink]     NVARCHAR (200) NOT NULL,
    [department]   INT         NOT NULL,
    [modification] Date,
    [status_id]    INT            NOT NULL,
    [user_id]      INT           NOT NULL,
    [issue_date]   DATE           NULL,
    [category]     INT         NOT NULL,
    [subcategory]  INT         NOT NULL,
    CONSTRAINT [ticketid] PRIMARY KEY CLUSTERED ([ticketid] ASC),
    FOREIGN KEY ([department]) REFERENCES [dbo].[Department] ([department_id]),
    FOREIGN KEY ([user_id]) REFERENCES [dbo].[User] ([user_id]) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY ([status_id]) REFERENCES [dbo].[Status] ([status_id]) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY ([category]) REFERENCES [dbo].[Category] ([category_id]),
    FOREIGN KEY ([subcategory]) REFERENCES [dbo].[SubCategory] ([subcategory_id])
);

In [3]:
insert into Tickets values('Anurag','anurag@gmail.com','anu@euro.com','Heating','Laptop heating','http://localhost:4200/',1,'',2,1002,'2022/09/06',1,1);
insert into Tickets values('Saurabh','saurabh@gmail.com','saurabh@euro.com','Netwrok','Wifi Connectivity issue','http://localhost:4200/',1,'',1,1003,'2022/09/06',2,2);

In [6]:
--Check User Name with Designation
select U.first_name, R.role_name from [dbo].[User] U join Role R on U.role_id=R.role_id

first_name,role_name
Shivam,Admin
Aditya,User
Saurabh,User
Vishnu,User
Shivraj,User
Viniston,User

In [7]:
select d.department_name,c.category_name from Department d join
Category c on d.department_id=c.department_id
group by d.department_name,c.category_name

department_name,category_name
Research,Chartio
Research,Power BI
Research,Tableau
Technology,Hardware
Technology,Software

In [8]:
select d.department_name,c.category_name,s.subcategory_name from Department d
join Category c on d.department_id=c.department_id
join SubCategory s on s.category_id=c.category_id

department_name,category_name,subcategory_name
Technology,Hardware,Heating
Technology,Hardware,Touchpad
Technology,Software,MS Office
Technology,Software,Teams
Research,Power BI,Credential
Research,Tableau,Error
Research,Chartio,Login Failed

In [11]:
select T.cust_name, U.first_name, S.status_name, D.department_name
from Tickets T
    join [dbo].[User] U on T.user_id=U.user_id
    join Status S on T.status_id=S.status_id
    join Department D on T.department=D.department_id

cust_name,first_name,status_name,department_name
Anurag,Aditya,In Progress,Technology
Saurabh,Saurabh,Open,Technology

In [14]:
select T.cust_name, U.first_name, S.status_name, D.department_name, C.category_name, Sub.subcategory_name
from Tickets T
    join [dbo].[User] U on T.user_id=U.user_id
    join Status S on T.status_id=S.status_id
    join Department D on T.department=D.department_id
    join Category C on T.category=C.category_id
    join SubCategory Sub on T.subcategory = sub.subcategory_id

cust_name,first_name,status_name,department_name,category_name,subcategory_name
Anurag,Aditya,In Progress,Technology,Hardware,Heating
Saurabh,Saurabh,Open,Technology,Software,Touchpad

In [15]:
/*Count No of Tickets*/
CREATE PROC spCountTotalTickets
AS
BEGIN
	SELECT COUNT(ticketid) FROM Tickets
END

EXEC spCountTotalTickets

In [18]:
/*Get All Users Data*/
CREATE PROC spGetAllUsers
AS
BEGIN
	SELECT U.user_id AS 'NO', (U.first_name+' '+U.last_name) AS 'Name', U.user_email AS 'Email Id',R.role_name AS 'Role' FROM  [dbo].[User] U
	JOIN Role R ON U.role_id=R.role_id
	WHERE R.role_name!='Admin'
END

In [19]:
EXEC spGetAllUsers

NO,Name,Email Id,Role
1002,Aditya Kumar,aditya@gmail.com,User
1003,Saurabh Kumar,saurabh@gmail.com,User
1004,Vishnu Singh,vishnu@gmail.com,User
1005,Shivraj Totiger,shivraj@gmail.com,User
1006,Viniston Arockiasamy,viniston@gmail.com,User

In [20]:
/* Add User */
CREATE PROC spAddUser
@FirstName nvarchar(20),
@LastName nvarchar(20),
@Email nvarchar(50),
@Mobile nvarchar(15),
@Password nvarchar(20),
@Role int,
@ProfilePic nvarchar(MAX),
@JoiningDate Date
AS
BEGIN
	INSERT INTO [dbo].[User](first_name,last_name,mobile_no,user_email,password,role_id,user_img,joining_date)
	VALUES(@FirstName,@LastName,@Email,@Mobile,@Password,@Role,@ProfilePic,@JoiningDate);
END

In [21]:
EXEC spAddUser 'Satya','Das','8596966312','satya@gmail.com','Satya@123',2,'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEJ3K8qhjVc4IBNtD8-B9-UjinDocH4fh2h7xO9VTW&s','2022/09/07'

In [23]:

/* Update User */
CREATE PROC spUpdateUserDetail
@Mobile nvarchar(15),
@Password nvarchar(20),
@Role int,
@ProfilePic nvarchar(MAX),
@UserId int
AS
BEGIN
	UPDATE [dbo].[User] SET mobile_no=@Mobile,password=@Password,role_id=@Role,user_img=@ProfilePic WHERE user_id=@UserId
END

In [25]:
ALTER PROC [dbo].[spUpdateUserDetail]
@Mobile nvarchar(15)=NULL,
@Password nvarchar(20)=NULL,
@Role int =NULL,
@ProfilePic nvarchar(MAX)=NULL,
@UserId int
AS
BEGIN
	UPDATE [dbo].[User] SET mobile_no=ISNULL(@Mobile,mobile_no),password=ISNULL(@Password,password),user_img=ISNULL(@ProfilePic,user_img) WHERE user_id=@UserId
END

In [26]:
exec spUpdateUserDetail '7485968574','12345',2,'asasdasdasdasdsad', 1007

In [27]:
/* Delete User */
CREATE PROC spDeleteUser
@UserId int
AS
BEGIN
	DELETE [dbo].[User] WHERE user_id=@UserId
END

In [28]:
EXEC spDeleteUser 1007

In [29]:
/* View User Detail */
CREATE PROC spGetUserDetailById
@UserId int
AS
BEGIN
	SELECT U.first_name AS 'First Name',U.last_name AS 'Last Name',U.user_email AS 'Email',U.mobile_no AS 'Mobile No', U.joining_date AS 'Regitration Date',U.user_img AS 'Profile Image',R.role_id AS 'ROLE' from [dbo].[User] U
	JOIN Role R ON U.role_id=R.role_id
	WHERE user_id=@UserId
END

In [30]:
EXEC spGetUserDetailById 1004

First Name,Last Name,Email,Mobile No,Regitration Date,Profile Image,ROLE
Vishnu,Singh,vishnu@gmail.com,7257257255,2022-11-08,https://www.pngkey.com/png/detail/202-2024792_user-profile-icon-png-download-fa-user-circle.png,2

In [31]:
/* Count No of Users */
CREATE PROC spCountNoOfUsers
AS
BEGIN
	SELECT COUNT(user_id) FROM [dbo].[User]
END

In [32]:
EXEC spCountNoOfUsers

(No column name)
6

In [34]:
/* Count User By Department */
CREATE PROC spGetUserByDepartment
@Role nvarchar(20)
AS
BEGIN
	SELECT U.first_name+' '+U.last_name AS 'Name',U.user_email AS 'Email', U.mobile_no AS 'Mobile No', R.role_name AS 'Role' FROM [dbo].[User] U
	JOIN Role R ON U.role_id=R.role_id
	WHERE role_name=@Role
END

In [37]:
EXEC spGetUserByDepartment 'User'
EXEC spGetUserByDepartment 'Admin'

Name,Email,Mobile No,Role
Aditya Kumar,aditya@gmail.com,9696969696,User
Saurabh Kumar,saurabh@gmail.com,8585858585,User
Vishnu Singh,vishnu@gmail.com,7257257255,User
Shivraj Totiger,shivraj@gmail.com,7417417411,User
Viniston Arockiasamy,viniston@gmail.com,9639639633,User

Name,Email,Mobile No,Role
Shivam Vishvakarma,shivam@gmail.com,8484849696,Admin

In [38]:
/*Add Ticket*/
CREATE PROC spAddTicket
@CustomerName nvarchar(20),
@Email nvarchar(20),
@EscEmail nvarchar(20),
@Subject nvarchar(100),
@IssueDiscription nvarchar(MAX),
@TeamLink nvarchar(MAX),
@Department int,
@Status int,
@UserId int,
@IssueDate Date,
@Category int,
@Subcategory int
AS
BEGIN
	INSERT INTO Tickets(cust_name,cust_email,esc_email,subject,issue_desc,teamlink,department,status_id,user_id,issue_date,category,subcategory)
	VALUES(@CustomerName,@Email,@EscEmail,@Subject,@IssueDiscription,@TeamLink,@Department,@Status,@UserId,@IssueDate,@Category,@Subcategory)
END

In [39]:
EXEC spAddTicket 'Devendra','dev@gmail.com','dev@euro.com','Laptop Issue','Laptop Heating','http://localhost:4200/landingpage/addticket',1,1,1003,'2022/07/09',2,1

In [41]:
/*Ticket Detail */
CREATE PROC spGetTicketDetailById
@TicketId int
AS
BEGIN
	select T.cust_name,T.esc_email,T.cust_email,T.issue_date,T.issue_desc,
	U.first_name,S.status_name,
	D.department_name, 
	C.category_name,
	Sub.subcategory_name from Tickets T
	join [dbo].[User] U on T.user_id=U.user_id
	join T_Status S on T.status_id=S.status_id
	join Department D on T.department=D.department_id
	join Category C on T.category=C.category_id
	Join SubCategory Sub on T.subcategory=Sub.subcategory_id
	WHERE ticketid=@TicketId
END

In [43]:
/*Ticket Detail */
ALTER PROC spGetTicketDetailById
@TicketId int
AS
BEGIN
	select T.cust_name,T.esc_email,T.cust_email,T.issue_date,T.issue_desc,
	U.first_name,S.status_name,
	D.department_name, 
	C.category_name,
	Sub.subcategory_name from Tickets T
	join [dbo].[User] U on T.user_id=U.user_id
	join Status S on T.status_id=S.status_id
	join Department D on T.department=D.department_id
	join Category C on T.category=C.category_id
	Join SubCategory Sub on T.subcategory=Sub.subcategory_id
	WHERE ticketid=@TicketId
END

In [46]:
exec spGetTicketDetailById 2

cust_name,esc_email,cust_email,issue_date,issue_desc,first_name,status_name,department_name,category_name,subcategory_name
Saurabh,saurabh@euro.com,saurabh@gmail.com,2022-09-06,Wifi Connectivity issue,Saurabh,Open,Technology,Software,Touchpad

In [48]:
/* Filter Ticket By Status */
create proc spGetTicketByStatus
@Status nvarchar(10)
AS
BEGIN
	select T.ticketid,T.cust_name,T.issue_date,
	S.status_name,
	D.department_name, 
	C.category_name,
	Sub.subcategory_name from Tickets T
	join Status S on T.status_id=S.status_id
	join Department D on T.department=D.department_id
	join Category C on T.category=C.category_id
	Join SubCategory Sub on T.subcategory=Sub.subcategory_id
	WHERE status_name=@Status
END

In [50]:
Exec spGetTicketByStatus 'open'
Exec spGetTicketByStatus 'close'

ticketid,cust_name,issue_date,status_name,department_name,category_name,subcategory_name
2,Saurabh,2022-09-06,Open,Technology,Software,Touchpad
3,Devendra,2022-07-09,Open,Technology,Software,Heating

In [51]:
/*Delete Ticket By Id*/
CREATE PROC spDeleteTicketById
@TicketId int
AS
BEGIN
	DELETE Tickets WHERE ticketid=@TicketId
END

In [ ]:
/*Ticket Update by Id*/
CREATE PROC spUpdateTicketById
@Status int = NULL,
@ModificationDate Date =NULL,
@Description nvarchar(MAX)=NULL,
@TeamLink nvarchar(MAX)=NULL,
@TicketId int=NULL,
@UserId int=NULL
AS
BEGIN
	UPDATE Tickets SET status_id=ISNULL(@Status,status_id),
	modification=ISNULL(@ModificationDate,modification),
	issue_desc=ISNULL(@Description,issue_desc),teamlink=ISNULL(@TeamLink,teamlink),user_id=ISNULL(@UserId,user_id)
	WHERE ticketid=@TicketId;
END