In [13]:
USE Employee

--Query No.1
SELECT j.job_id AS 'Job_Id', AVG(e.salary) AS 'Average_Salary',MIN(e.salary) AS 'Min_Salary',MAX(e.salary) AS 'Max_Salary' FROM employees e
JOIN jobs j ON e.job_id=j.job_id
GROUP BY j.job_id

Job_Id,Average_Salary,Min_Salary,Max_Salary
1,8300.000000,8300.00,8300.00
2,12000.000000,12000.00,12000.00
3,4400.000000,4400.00,4400.00
4,24000.000000,24000.00,24000.00
5,17000.000000,17000.00,17000.00
6,7920.000000,6900.00,9000.00
7,12000.000000,12000.00,12000.00
8,6500.000000,6500.00,6500.00
9,5760.000000,4200.00,9000.00
10,13000.000000,13000.00,13000.00
11,6000.000000,6000.00,6000.00
12,10000.000000,10000.00,10000.00
13,2780.000000,2500.00,3100.00
14,11000.000000,11000.00,11000.00
15,13750.000000,13500.00,14000.00
16,7550.000000,6200.00,8600.00
17,3950.000000,3900.00,4000.00
18,2700.000000,2700.00,2700.00
19,7650.000000,6500.00,8200.00

In [14]:
--Query No. 2
SELECT dep.department_name AS 'Department_Name', count(dep.department_name) AS No_Of_Employees FROM employees emp
JOIN departments dep ON dep.department_id=emp.department_id GROUP BY dep.department_name;

Department_Name,No_Of_Employees
Accounting,2
Administration,1
Executive,3
Finance,6
Human Resources,1
IT,5
Marketing,2
Public Relations,1
Purchasing,6
Sales,6
Shipping,7

In [15]:
--Query No. 3
SELECT COUNT(*) AS 'Count_Employees',e.manager_id AS 'Manager_Id', m.first_name AS 'ManagerName' FROM employees e, employees m
WHERE e.manager_id = m.employee_id GROUP BY e.manager_id,m.first_name
ORDER BY e.manager_id

Count_Employees,Manager_Id,ManagerName
14,100,Steven
5,101,Neena
1,102,Lex
4,103,Alexander
5,108,Nancy
5,114,Den
1,120,Matthew
2,123,Shanta
1,201,Michael
1,205,Shelley

In [16]:
--Query No. 4
SELECT e.last_name, e.department_id,d.department_name FROM employees e
JOIN departments d ON e.department_id=d.department_id
ORDER BY e.last_name ASC

last_name,department_id,department_name
Austin,6,IT
Baer,7,Public Relations
Baida,3,Purchasing
Bell,5,Shipping
Chen,10,Finance
Colmenares,3,Purchasing
De Haan,9,Executive
Ernst,6,IT
Everett,5,Shipping
Faviet,10,Finance
Fay,2,Marketing
Fripp,5,Shipping
Gietz,11,Accounting
Grant,8,Sales
Greenberg,10,Finance
Hartstein,2,Marketing
Higgins,11,Accounting
Himuro,3,Purchasing
Hunold,6,IT
Johnson,8,Sales
Kaufling,5,Shipping
Khoo,3,Purchasing
King,9,Executive
Kochhar,9,Executive
Livingston,8,Sales
Lorentz,6,IT
Mavris,4,Human Resources
Mikkilineni,5,Shipping
Partners,8,Sales
Pataballa,6,IT
Popp,10,Finance
Raphaely,3,Purchasing
Russell,8,Sales
Sciarra,10,Finance
Taylor,8,Sales
Tobias,3,Purchasing
Urman,10,Finance
Vollman,5,Shipping
Weiss,5,Shipping
Whalen,1,Administration

In [18]:
--Query No.5
select j.job_title,l.street_address,l.city,l.country_id from employees e
join jobs j on e.job_id=j.job_id
join departments d on d.department_id=e.department_id
join locations l on d.location_id=l.location_id where l.street_address='8204 Arthur St' AND j.job_title='Human Resources Representative'

job_title,street_address,city,country_id
Human Resources Representative,8204 Arthur St,London,UK

In [39]:
--Query No. 6
SELECT e.last_name, d.department_name, l.location_id,l.city FROM employees e
JOIN departments d ON e.department_id=d.department_id
JOIN locations l ON d.location_id=l.location_id 
WHERE l.location_id IN(1400,1700) AND d.department_name IN('IT','FINANCE','PURCHASING')

last_name,department_name,location_id,city
Hunold,IT,1400,Southlake
Ernst,IT,1400,Southlake
Austin,IT,1400,Southlake
Pataballa,IT,1400,Southlake
Lorentz,IT,1400,Southlake
Greenberg,Finance,1700,Seattle
Faviet,Finance,1700,Seattle
Chen,Finance,1700,Seattle
Sciarra,Finance,1700,Seattle
Urman,Finance,1700,Seattle
Popp,Finance,1700,Seattle
Raphaely,Purchasing,1700,Seattle
Khoo,Purchasing,1700,Seattle
Baida,Purchasing,1700,Seattle
Tobias,Purchasing,1700,Seattle
Himuro,Purchasing,1700,Seattle
Colmenares,Purchasing,1700,Seattle

In [38]:
--Query No. 7
SELECT e.last_name,d.department_name FROM employees e
JOIN departments d ON e.department_id=d.department_id
ORDER BY RAND(d.department_id)

last_name,department_name
Whalen,Administration
Hartstein,Marketing
Fay,Marketing
Raphaely,Purchasing
Khoo,Purchasing
Baida,Purchasing
Tobias,Purchasing
Himuro,Purchasing
Colmenares,Purchasing
Mavris,Human Resources
Bell,Shipping
Everett,Shipping
Weiss,Shipping
Fripp,Shipping
Kaufling,Shipping
Vollman,Shipping
Mikkilineni,Shipping
Hunold,IT
Ernst,IT
Austin,IT
Pataballa,IT
Lorentz,IT
Baer,Public Relations
Russell,Sales
Partners,Sales
Taylor,Sales
Livingston,Sales
Grant,Sales
Johnson,Sales
King,Executive
Kochhar,Executive
De Haan,Executive
Greenberg,Finance
Faviet,Finance
Chen,Finance
Sciarra,Finance
Urman,Finance
Popp,Finance
Higgins,Accounting
Gietz,Accounting

In [21]:
--Query No. 8
SELECT e.last_name, d.department_id,department_name, j.job_title FROM employees e
JOIN departments d ON e.department_id=d.department_id
JOIN jobs j ON e.job_id=j.job_id

last_name,department_id,department_name,job_title
King,9,Executive,President
Kochhar,9,Executive,Administration Vice President
De Haan,9,Executive,Administration Vice President
Hunold,6,IT,Programmer
Ernst,6,IT,Programmer
Austin,6,IT,Programmer
Pataballa,6,IT,Programmer
Lorentz,6,IT,Programmer
Greenberg,10,Finance,Finance Manager
Faviet,10,Finance,Accountant
Chen,10,Finance,Accountant
Sciarra,10,Finance,Accountant
Urman,10,Finance,Accountant
Popp,10,Finance,Accountant
Raphaely,3,Purchasing,Purchasing Manager
Khoo,3,Purchasing,Purchasing Clerk
Baida,3,Purchasing,Purchasing Clerk
Tobias,3,Purchasing,Purchasing Clerk
Himuro,3,Purchasing,Purchasing Clerk
Colmenares,3,Purchasing,Purchasing Clerk
Weiss,5,Shipping,Stock Manager
Fripp,5,Shipping,Stock Manager
Kaufling,5,Shipping,Stock Manager
Vollman,5,Shipping,Stock Manager
Mikkilineni,5,Shipping,Stock Clerk
Russell,8,Sales,Sales Manager
Partners,8,Sales,Sales Manager
Taylor,8,Sales,Sales Representative
Livingston,8,Sales,Sales Representative
Grant,8,Sales,Sales Representative
Johnson,8,Sales,Sales Representative
Bell,5,Shipping,Shipping Clerk
Everett,5,Shipping,Shipping Clerk
Whalen,1,Administration,Administration Assistant
Hartstein,2,Marketing,Marketing Manager
Fay,2,Marketing,Marketing Representative
Mavris,4,Human Resources,Human Resources Representative
Baer,7,Public Relations,Public Relations Representative
Higgins,11,Accounting,Accounting Manager
Gietz,11,Accounting,Public Accountant

In [22]:
--Query No. 9
SELECT e.first_name AS 'Employee Name', e.employee_id AS 'Employee Number',
m.first_name AS 'Manager', m.manager_id AS 'Manager Number' FROM employees e
JOIN employees m ON e.manager_id=m.employee_id

Employee Name,Employee Number,Manager,Manager Number
Neena,101,Steven,NULL
Lex,102,Steven,NULL
Alexander,103,Lex,100
Bruce,104,Alexander,102
David,105,Alexander,102
Valli,106,Alexander,102
Diana,107,Alexander,102
Nancy,108,Neena,100
Daniel,109,Nancy,101
John,110,Nancy,101
Ismael,111,Nancy,101
Jose Manuel,112,Nancy,101
Luis,113,Nancy,101
Den,114,Steven,NULL
Alexander,115,Den,100
Shelli,116,Den,100
Sigal,117,Den,100
Guy,118,Den,100
Karen,119,Den,100
Matthew,120,Steven,NULL
Adam,121,Steven,NULL
Payam,122,Steven,NULL
Shanta,123,Steven,NULL
Irene,126,Matthew,100
John,145,Steven,NULL
Karen,146,Steven,NULL
Jonathon,176,Steven,NULL
Jack,177,Steven,NULL
Kimberely,178,Steven,NULL
Charles,179,Steven,NULL
Sarah,192,Shanta,100
Britney,193,Shanta,100
Jennifer,200,Neena,100
Michael,201,Steven,NULL
Pat,202,Michael,100
Susan,203,Neena,100
Hermann,204,Neena,100
Shelley,205,Neena,100
William,206,Shelley,101

In [23]:
--Query No. 10
SELECT e.last_name,d.department_id FROM employees e
JOIN departments d ON e.department_id=d.department_id
ORDER BY e.last_name ASC

last_name,department_id
Austin,6
Baer,7
Baida,3
Bell,5
Chen,10
Colmenares,3
De Haan,9
Ernst,6
Everett,5
Faviet,10
Fay,2
Fripp,5
Gietz,11
Grant,8
Greenberg,10
Hartstein,2
Higgins,11
Himuro,3
Hunold,6
Johnson,8
Kaufling,5
Khoo,3
King,9
Kochhar,9
Livingston,8
Lorentz,6
Mavris,4
Mikkilineni,5
Partners,8
Pataballa,6
Popp,10
Raphaely,3
Russell,8
Sciarra,10
Taylor,8
Tobias,3
Urman,10
Vollman,5
Weiss,5
Whalen,1

In [24]:
--Query No. 11
--Note : Grade Column is not in DB Schema
SELECT e.first_name+''+e.last_name AS 'Name',j.job_title AS 'Job_Title',d.department_id AS 'Department_Id',e.salary as 'Salary' FROM employees e
JOIN departments d ON e.department_id=d.department_id
JOIN jobs j ON e.job_id=j.job_id

Name,Job_Title,Department_Id,Salary
StevenKing,President,9,24000.00
NeenaKochhar,Administration Vice President,9,17000.00
LexDe Haan,Administration Vice President,9,17000.00
AlexanderHunold,Programmer,6,9000.00
BruceErnst,Programmer,6,6000.00
DavidAustin,Programmer,6,4800.00
ValliPataballa,Programmer,6,4800.00
DianaLorentz,Programmer,6,4200.00
NancyGreenberg,Finance Manager,10,12000.00
DanielFaviet,Accountant,10,9000.00
JohnChen,Accountant,10,8200.00
IsmaelSciarra,Accountant,10,7700.00
Jose ManuelUrman,Accountant,10,7800.00
LuisPopp,Accountant,10,6900.00
DenRaphaely,Purchasing Manager,3,11000.00
AlexanderKhoo,Purchasing Clerk,3,3100.00
ShelliBaida,Purchasing Clerk,3,2900.00
SigalTobias,Purchasing Clerk,3,2800.00
GuyHimuro,Purchasing Clerk,3,2600.00
KarenColmenares,Purchasing Clerk,3,2500.00
MatthewWeiss,Stock Manager,5,8000.00
AdamFripp,Stock Manager,5,8200.00
PayamKaufling,Stock Manager,5,7900.00
ShantaVollman,Stock Manager,5,6500.00
IreneMikkilineni,Stock Clerk,5,2700.00
JohnRussell,Sales Manager,8,14000.00
KarenPartners,Sales Manager,8,13500.00
JonathonTaylor,Sales Representative,8,8600.00
JackLivingston,Sales Representative,8,8400.00
KimberelyGrant,Sales Representative,8,7000.00
CharlesJohnson,Sales Representative,8,6200.00
SarahBell,Shipping Clerk,5,4000.00
BritneyEverett,Shipping Clerk,5,3900.00
JenniferWhalen,Administration Assistant,1,4400.00
MichaelHartstein,Marketing Manager,2,13000.00
PatFay,Marketing Representative,2,6000.00
SusanMavris,Human Resources Representative,4,6500.00
HermannBaer,Public Relations Representative,7,10000.00
ShelleyHiggins,Accounting Manager,11,12000.00
WilliamGietz,Public Accountant,11,8300.00

In [2]:
-----------------Sub Query---------
--Query No.1
--search data according to department
select last_name,hire_date from employees where department_id in(select department_id from departments where department_id=8)
--or
select last_name,hire_date from employees where last_name in(select last_name from employees where last_name in(
'Russell','Partners','Taylor','Livingston','Grant','Johnson'))

last_name,hire_date
Russell,1996-10-01
Partners,1997-01-05
Taylor,1998-03-24
Livingston,1998-04-23
Grant,1999-05-24
Johnson,2000-01-04

last_name,hire_date
Russell,1996-10-01
Partners,1997-01-05
Taylor,1998-03-24
Livingston,1998-04-23
Grant,1999-05-24
Johnson,2000-01-04

In [26]:
--Query No.2
SELECT employee_id,first_name,salary FROM employees where salary in (select salary from employees where salary>=8200) order by salary asc

employee_id,first_name,salary
110,John,8200.00
121,Adam,8200.00
206,William,8300.00
177,Jack,8400.00
176,Jonathon,8600.00
103,Alexander,9000.00
109,Daniel,9000.00
204,Hermann,10000.00
114,Den,11000.00
108,Nancy,12000.00
205,Shelley,12000.00
201,Michael,13000.00
146,Karen,13500.00
145,John,14000.00
101,Neena,17000.00
102,Lex,17000.00
100,Steven,24000.00

In [27]:
--Query No.3
SELECT employee_id AS 'Employee Number' ,last_name from employees where employee_id in (select employee_id from employees where employee_id in(103,105,112,118,122,145))

Employee Number,last_name
103,Hunold
105,Austin
112,Urman
118,Himuro
122,Kaufling
145,Russell

In [28]:
--Query No.4
select last_name,department_id as 'Department Number', job_id from employees where last_name=(select last_name from employees where last_name='Mavris')

last_name,Department Number,job_id
Mavris,4,8

In [29]:
--Query No.5
SELECT last_name,salary FROM employees where salary<=17000

last_name,salary
Kochhar,17000.00
De Haan,17000.00
Hunold,9000.00
Ernst,6000.00
Austin,4800.00
Pataballa,4800.00
Lorentz,4200.00
Greenberg,12000.00
Faviet,9000.00
Chen,8200.00
Sciarra,7700.00
Urman,7800.00
Popp,6900.00
Raphaely,11000.00
Khoo,3100.00
Baida,2900.00
Tobias,2800.00
Himuro,2600.00
Colmenares,2500.00
Weiss,8000.00
Fripp,8200.00
Kaufling,7900.00
Vollman,6500.00
Mikkilineni,2700.00
Russell,14000.00
Partners,13500.00
Taylor,8600.00
Livingston,8400.00
Grant,7000.00
Johnson,6200.00
Bell,4000.00
Everett,3900.00
Whalen,4400.00
Hartstein,13000.00
Fay,6000.00
Mavris,6500.00
Baer,10000.00
Higgins,12000.00
Gietz,8300.00

In [30]:

--Query No.6
select department_id,last_name,job_id from employees where department_id in(select department_id from employees where department_id=6)

department_id,last_name,job_id
6,Hunold,9
6,Ernst,9
6,Austin,9
6,Pataballa,9
6,Lorentz,9

In [31]:
--Query No.7
select employee_id,last_name,salary from employees where employee_id in(select employee_id from employees where employee_id in(103,145))

employee_id,last_name,salary
103,Hunold,9000.00
145,Russell,14000.00

In [32]:
--Query No.8
select distinct first_name from employees where first_name in('john','karen','jonathon','jack','kimberely','charles')

first_name
Charles
Jack
John
Jonathon
Karen
Kimberely

In [33]:
--Query No.9 
select last_name,salary from employees where last_name in('king','kochhar','de hann')

last_name,salary
King,24000.00
Kochhar,17000.00

In [26]:
--Query No. 10
select  top 3 first_name,salary,department_id from employees where first_name in(select first_name from employees where first_name in('Neena','Lex','John')) ORDER by department_id  asc

first_name,salary,department_id
John,14000.00,8
Neena,17000.00,9
Lex,17000.00,9