In [16]:
--Problem No.1
select TOP 18 FIRST_NAME,LAST_NAME,SALARY,DEPARTMENT_ID,JOB_ID from employees1 
where JOB_ID=(select JOB_ID from jobs where JOB_ID='SA_REP');

FIRST_NAME,LAST_NAME,SALARY,DEPARTMENT_ID,JOB_ID
Peter,Tucker,10000.00,80,SA_REP
David,Bernstein,9500.00,80,SA_REP
Peter,Hall,9000.00,80,SA_REP
Christopher,Olsen,8000.00,80,SA_REP
Nanette,Cambrault,7500.00,80,SA_REP
Oliver,Tuvault,7000.00,80,SA_REP
Janette,King,10000.00,80,SA_REP
Patrick,Sully,9500.00,80,SA_REP
Allan,McEwen,9000.00,80,SA_REP
Lindsey,Smith,8000.00,80,SA_REP
Louise,Doran,7500.00,80,SA_REP
Sarath,Sewall,7000.00,80,SA_REP
Clara,Vishney,10500.00,80,SA_REP
Danielle,Greene,9500.00,80,SA_REP
Mattea,Marvins,7200.00,80,SA_REP
David,Lee,6800.00,80,SA_REP
Sundar,Ande,6400.00,80,SA_REP
Amit,Banda,6200.00,80,SA_REP

In [2]:
--Problem No.2
select FIRST_NAME,LAST_NAME,EMPLOYEE_ID,SALARY from employees1
where MANAGER_ID=(select EMPLOYEE_ID from employees1 
where FIRST_NAME='Payam')

FIRST_NAME,LAST_NAME,EMPLOYEE_ID,SALARY
Jason,Mallin,133,3300.00
Michael,Rogers,134,2900.00
Ki,Gee,135,2400.00
Hazel,Philtanker,136,2200.00
Kelly,Chung,188,3800.00
Jennifer,Dilly,189,3600.00
Timothy,Gates,190,2900.00
Randall,Perkins,191,2500.00

In [3]:
--Problem No.3
select FIRST_NAME, LAST_NAME, EMPLOYEE_ID, HIRE_DATE from employees1 where HIRE_DATE between '08/01/1987' and '08/19/1987'

FIRST_NAME,LAST_NAME,EMPLOYEE_ID,HIRE_DATE
John,Russell,145,1987-08-01
Karen,Partners,146,1987-08-02
Alberto,Errazuriz,147,1987-08-03
Gerald,Cambrault,148,1987-08-04
Eleni,Zlotkey,149,1987-08-05
Peter,Tucker,150,1987-08-06
David,Bernstein,151,1987-08-07
Peter,Hall,152,1987-08-08
Christopher,Olsen,153,1987-08-09
Nanette,Cambrault,154,1987-08-10
Oliver,Tuvault,155,1987-08-11
Janette,King,156,1987-08-12
Patrick,Sully,157,1987-08-13
Allan,McEwen,158,1987-08-14
Lindsey,Smith,159,1987-08-15
Louise,Doran,160,1987-08-16
Sarath,Sewall,161,1987-08-17
Clara,Vishney,162,1987-08-18
Danielle,Greene,163,1987-08-19

In [4]:
--Problem No.4
select EMPLOYEE_ID,first_Name,LAST_NAME,JOB_ID from employees1 where EMPLOYEE_ID between 103 AND 120

EMPLOYEE_ID,first_Name,LAST_NAME,JOB_ID
103,Alexander,Hunold,IT_PROG
104,Bruce,Ernst,IT_PROG
105,David,Austin,IT_PROG
106,Valli,Pataballa,IT_PROG
107,Diana,Lorentz,IT_PROG
108,Nancy,Greenberg,FI_MGR
109,Daniel,Faviet,FI_ACCOUNT
110,John,Chen,FI_ACCOUNT
111,Ismael,Sciarra,FI_ACCOUNT
112,Jose Manuel,Urman,FI_ACCOUNT
113,Luis,Popp,FI_ACCOUNT
114,Den,Raphaely,PU_MAN
115,Alexander,Khoo,PU_CLERK
116,Shelli,Baida,PU_CLERK
117,Sigal,Tobias,PU_CLERK
118,Guy,Himuro,PU_CLERK
119,Karen,Colmenares,PU_CLERK
120,Matthew,Weiss,ST_MAN

In [7]:
--Problem No. 5
select FIRST_NAME,LAST_NAME,DEPARTMENT_ID from employees1 where EMPLOYEE_ID between 100 and 117

FIRST_NAME,LAST_NAME,DEPARTMENT_ID
Steven,King,90
Neena,Kochhar,90
Lex,De Haan,90
Alexander,Hunold,60
Bruce,Ernst,60
David,Austin,60
Valli,Pataballa,60
Diana,Lorentz,60
Nancy,Greenberg,100
Daniel,Faviet,100
John,Chen,100
Ismael,Sciarra,100
Jose Manuel,Urman,100
Luis,Popp,100
Den,Raphaely,30
Alexander,Khoo,30
Shelli,Baida,30
Sigal,Tobias,30

In [8]:
--Problem No.6
select DEPARTMENT_ID,SUM(SALARY) from employees1 WHERE DEPARTMENT_ID IN(SELECT DEPARTMENT_ID FROM departments) GROUP BY DEPARTMENT_ID

DEPARTMENT_ID,(No column name)
10,4400.00
20,19000.00
30,24900.00
40,6500.00
50,156400.00
60,28800.00
70,10000.00
80,304500.00
90,58000.00
100,51600.00
110,20300.00

In [1]:
--Problem No.7
select first_name,last_name from employees1
where MANAGER_ID in(100,101)

first_name,last_name
Neena,Kochhar
Lex,De Haan
Nancy,Greenberg
Den,Raphaely
Matthew,Weiss
Adam,Fripp
Payam,Kaufling
Shanta,Vollman
Kevin,Mourgos
John,Russell
Karen,Partners
Alberto,Errazuriz
Gerald,Cambrault
Eleni,Zlotkey
Jennifer,Whalen
Michael,Hartstein
Susan,Mavris
Hermann,Baer
Shelley,Higgins

In [3]:
--Problem No.8
select first_name ,last_name from employees1 where DEPARTMENT_ID in
(select department_id from employees1 group by DEPARTMENT_ID having COUNT(department_id) between 1 and 2) and MANAGER_ID not in(201,205);

first_name,last_name
Kimberely,Grant
Jennifer,Whalen
Michael,Hartstein
Susan,Mavris
Hermann,Baer
Shelley,Higgins

In [17]:
--Problem No.9
select * from departments
where DEPARTMENT_ID in(select DEPARTMENT_ID from employees1
where EMPLOYEE_ID in(select EMPLOYEE_ID from job_history group by EMPLOYEE_ID having count(EMPLOYEE_ID)>1)
group by DEPARTMENT_ID having max(SALARY)>7000)

DEPARTMENT_ID,DEPARTMENT_NAME,MANAGER_ID,LOCATION_ID
80,Sales,145,2500
90,Executive,100,1700

In [15]:
--Problem No.10
select * from departments where DEPARTMENT_ID in(70,90,110)

DEPARTMENT_ID,DEPARTMENT_NAME,MANAGER_ID,LOCATION_ID
70,Public Relations,204,2700
90,Executive,100,1700
110,Accounting,205,1700

In [14]:
--Problem No.11
select DEPARTMENT_ID, CONCAT(FIRST_NAME,' ',LAST_NAME) as 'Name',SALARY from employees1 a
where SALARY =(select MAX(SALARY) from employees1 where DEPARTMENT_ID=a.DEPARTMENT_ID)

DEPARTMENT_ID,Name,SALARY
110,Shelley Higgins,12000.00
100,Nancy Greenberg,12000.00
90,Steven King,24000.00
80,John Russell,14000.00
70,Hermann Baer,10000.00
60,Alexander Hunold,9000.00
50,Adam Fripp,8200.00
40,Susan Mavris,6500.00
30,Den Raphaely,11000.00
20,Michael Hartstein,13000.00
10,Jennifer Whalen,4400.00
0,Kimberely Grant,7000.00

In [13]:
--Problem No. 12
select * from jobs where JOB_ID='SA_REP'

JOB_ID,JOB_TITLE,MIN_SALARY,MAX_SALARY
SA_REP,Sales Representative,6000,12000