In [4]:
--1. write a SQL query to find those employees who receive a higher salary than the employee with ID 163. Return first name, last name.
select first_name,last_name from employees1 where SALARY>(select salary from employees1 where employee_id=163)

first_name,last_name
Steven,King
Neena,Kochhar
Lex,De Haan
Nancy,Greenberg
Den,Raphaely
John,Russell
Karen,Partners
Alberto,Errazuriz
Gerald,Cambrault
Eleni,Zlotkey
Peter,Tucker
Janette,King
Clara,Vishney
Lisa,Ozer
Harrison,Bloom
Tayler,Fox
Ellen,Abel
Michael,Hartstein
Hermann,Baer
Shelley,Higgins

In [5]:
--2. write a SQL query to find out which employees have the same designation as the employee whose ID is 169. Return first name, last name, department ID and job ID.
select first_name,last_name,salary,department_id,job_id from employees1 where JOB_ID=(select JOB_ID from employees1 where EMPLOYEE_ID=169)

first_name,last_name,salary,department_id,job_id
Peter,Tucker,10000.00,80,SA_REP
David,Bernstein,9500.00,80,SA_REP
Peter,Hall,9000.00,80,SA_REP
Christopher,Olsen,8000.00,80,SA_REP
Nanette,Cambrault,7500.00,80,SA_REP
Oliver,Tuvault,7000.00,80,SA_REP
Janette,King,10000.00,80,SA_REP
Patrick,Sully,9500.00,80,SA_REP
Allan,McEwen,9000.00,80,SA_REP
Lindsey,Smith,8000.00,80,SA_REP
Louise,Doran,7500.00,80,SA_REP
Sarath,Sewall,7000.00,80,SA_REP
Clara,Vishney,10500.00,80,SA_REP
Danielle,Greene,9500.00,80,SA_REP
Mattea,Marvins,7200.00,80,SA_REP
David,Lee,6800.00,80,SA_REP
Sundar,Ande,6400.00,80,SA_REP
Amit,Banda,6200.00,80,SA_REP
Lisa,Ozer,11500.00,80,SA_REP
Harrison,Bloom,10000.00,80,SA_REP
Tayler,Fox,9600.00,80,SA_REP
William,Smith,7400.00,80,SA_REP
Elizabeth,Bates,7300.00,80,SA_REP
Sundita,Kumar,6100.00,80,SA_REP
Ellen,Abel,11000.00,80,SA_REP
Alyssa,Hutton,8800.00,80,SA_REP
Jonathon,Taylor,8600.00,80,SA_REP
Jack,Livingston,8400.00,80,SA_REP
Kimberely,Grant,7000.00,0,SA_REP
Charles,Johnson,6200.00,80,SA_REP

In [6]:
--3. write a SQL query to find those employees whose salary matches the lowest salary of any of the departments. Return first name, last name and department ID
select first_name,last_name,salary,department_id from employees1 where SALARY in(select MIN(SALARY) from employees1 group by DEPARTMENT_ID)

first_name,last_name,salary,department_id
Neena,Kochhar,17000.00,90
Lex,De Haan,17000.00,90
Bruce,Ernst,6000.00,60
Diana,Lorentz,4200.00,60
Luis,Popp,6900.00,100
Karen,Colmenares,2500.00,30
Shanta,Vollman,6500.00,50
James,Marlow,2500.00,50
TJ,Olson,2100.00,50
Joshua,Patel,2500.00,50
Peter,Vargas,2500.00,50
Peter,Tucker,10000.00,80
Oliver,Tuvault,7000.00,80
Janette,King,10000.00,80
Sarath,Sewall,7000.00,80
Harrison,Bloom,10000.00,80
Sundita,Kumar,6100.00,80
Kimberely,Grant,7000.00,0
Martha,Sullivan,2500.00,50
Nandita,Sarchand,4200.00,50
Randall,Perkins,2500.00,50
Jennifer,Whalen,4400.00,10
Pat,Fay,6000.00,20
Susan,Mavris,6500.00,40
Hermann,Baer,10000.00,70
William,Gietz,8300.00,110

In [9]:
--4. write a SQL query to find those employees who earn more than the average salary. Return employee ID, first name, last name.
select employee_id,first_name,last_name from employees1 where SALARY >(select AVG(SALARY) from employees1)

employee_id,first_name,last_name
100,Steven,King
101,Neena,Kochhar
102,Lex,De Haan
103,Alexander,Hunold
108,Nancy,Greenberg
109,Daniel,Faviet
110,John,Chen
111,Ismael,Sciarra
112,Jose Manuel,Urman
113,Luis,Popp
114,Den,Raphaely
120,Matthew,Weiss
121,Adam,Fripp
122,Payam,Kaufling
123,Shanta,Vollman
145,John,Russell
146,Karen,Partners
147,Alberto,Errazuriz
148,Gerald,Cambrault
149,Eleni,Zlotkey
150,Peter,Tucker
151,David,Bernstein
152,Peter,Hall
153,Christopher,Olsen
154,Nanette,Cambrault
155,Oliver,Tuvault
156,Janette,King
157,Patrick,Sully
158,Allan,McEwen
159,Lindsey,Smith
160,Louise,Doran
161,Sarath,Sewall
162,Clara,Vishney
163,Danielle,Greene
164,Mattea,Marvins
165,David,Lee
168,Lisa,Ozer
169,Harrison,Bloom
170,Tayler,Fox
171,William,Smith
172,Elizabeth,Bates
174,Ellen,Abel
175,Alyssa,Hutton
176,Jonathon,Taylor
177,Jack,Livingston
178,Kimberely,Grant
201,Michael,Hartstein
203,Susan,Mavris
204,Hermann,Baer
205,Shelley,Higgins
206,William,Gietz

In [10]:
--5. write a SQL query to find those employees who report to that manager whose first name is Payam. Return first name, last name, employee ID and salary.
select first_name,last_name,employee_id,salary from employees1 where MANAGER_ID=(select EMPLOYEE_ID from employees1 where FIRST_NAME='Payam')

first_name,last_name,employee_id,salary
Jason,Mallin,133,3300.00
Michael,Rogers,134,2900.00
Ki,Gee,135,2400.00
Hazel,Philtanker,136,2200.00
Kelly,Chung,188,3800.00
Jennifer,Dilly,189,3600.00
Timothy,Gates,190,2900.00
Randall,Perkins,191,2500.00

In [11]:
--6. write a SQL query to find all those employees who work in the Finance department. Return department ID, name (first name), job ID and department name.
select e.DEPARTMENT_ID,e.FIRST_NAME,e.LAST_NAME,e.JOB_ID,d.DEPARTMENT_NAME from employees1 e, departments d 
where e.DEPARTMENT_ID=d.DEPARTMENT_ID and d.DEPARTMENT_NAME='Finance'

DEPARTMENT_ID,FIRST_NAME,LAST_NAME,JOB_ID,DEPARTMENT_NAME
100,Nancy,Greenberg,FI_MGR,Finance
100,Daniel,Faviet,FI_ACCOUNT,Finance
100,John,Chen,FI_ACCOUNT,Finance
100,Ismael,Sciarra,FI_ACCOUNT,Finance
100,Jose Manuel,Urman,FI_ACCOUNT,Finance
100,Luis,Popp,FI_ACCOUNT,Finance

In [13]:
--7. write a SQL query to find the employee whose salary is 3000 and reporting persons ID is 121. Return all fields.
select * from employees1 where SALARY=3000 and MANAGER_ID=121

EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
187,Anthony,Cabrio,ACABRIO,650.509.4876,1987-09-12,SH_CLERK,3000.00,0.00,121,50

In [14]:
--8. write a SQL query to find those employees whose ID matches any of the numbers 134, 159 and 183. Return all the fields.
select * from employees1 where EMPLOYEE_ID in(134,159,183)

EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
134,Michael,Rogers,MROGERS,650.127.1834,1987-07-21,ST_CLERK,2900.00,0.00,122,50
159,Lindsey,Smith,LSMITH,011.44.1345.729268,1987-08-15,SA_REP,8000.00,0.30,146,80
183,Girard,Geoni,GGEONI,650.507.9879,1987-09-08,SH_CLERK,2800.00,0.00,120,50

In [15]:
--9. write a SQL query to find those employees whose salary is in the range of 1000, and 3000 (Begin and end values have included.). Return all the fields
select * from employees1 where SALARY BETWEEN 1000 and 3000

EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
116,Shelli,Baida,SBAIDA,515.127.4563,1987-07-03,PU_CLERK,2900.00,0.00,114,30
117,Sigal,Tobias,STOBIAS,515.127.4564,1987-07-04,PU_CLERK,2800.00,0.00,114,30
118,Guy,Himuro,GHIMURO,515.127.4565,1987-07-05,PU_CLERK,2600.00,0.00,114,30
119,Karen,Colmenares,KCOLMENA,515.127.4566,1987-07-06,PU_CLERK,2500.00,0.00,114,30
126,Irene,Mikkilineni,IMIKKILI,650.124.1224,1987-07-13,ST_CLERK,2700.00,0.00,120,50
127,James,Landry,JLANDRY,650.124.1334,1987-07-14,ST_CLERK,2400.00,0.00,120,50
128,Steven,Markle,SMARKLE,650.124.1434,1987-07-15,ST_CLERK,2200.00,0.00,120,50
130,Mozhe,Atkinson,MATKINSO,650.124.6234,1987-07-17,ST_CLERK,2800.00,0.00,121,50
131,James,Marlow,JAMRLOW,650.124.7234,1987-07-18,ST_CLERK,2500.00,0.00,121,50
132,TJ,Olson,TJOLSON,650.124.8234,1987-07-19,ST_CLERK,2100.00,0.00,121,50
134,Michael,Rogers,MROGERS,650.127.1834,1987-07-21,ST_CLERK,2900.00,0.00,122,50
135,Ki,Gee,KGEE,650.127.1734,1987-07-22,ST_CLERK,2400.00,0.00,122,50
136,Hazel,Philtanker,HPHILTAN,650.127.1634,1987-07-23,ST_CLERK,2200.00,0.00,122,50
139,John,Seo,JSEO,650.121.2019,1987-07-26,ST_CLERK,2700.00,0.00,123,50
140,Joshua,Patel,JPATEL,650.121.1834,1987-07-27,ST_CLERK,2500.00,0.00,123,50
143,Randall,Matos,RMATOS,650.121.2874,1987-07-30,ST_CLERK,2600.00,0.00,124,50
144,Peter,Vargas,PVARGAS,650.121.2004,1987-07-31,ST_CLERK,2500.00,0.00,124,50
182,Martha,Sullivan,MSULLIVA,650.507.9878,1987-09-07,SH_CLERK,2500.00,0.00,120,50
183,Girard,Geoni,GGEONI,650.507.9879,1987-09-08,SH_CLERK,2800.00,0.00,120,50
187,Anthony,Cabrio,ACABRIO,650.509.4876,1987-09-12,SH_CLERK,3000.00,0.00,121,50
190,Timothy,Gates,TGATES,650.505.3876,1987-09-15,SH_CLERK,2900.00,0.00,122,50
191,Randall,Perkins,RPERKINS,650.505.4876,1987-09-16,SH_CLERK,2500.00,0.00,122,50
195,Vance,Jones,VJONES,650.501.4876,1987-09-20,SH_CLERK,2800.00,0.00,123,50
197,Kevin,Feeney,KFEENEY,650.507.9822,1987-09-22,SH_CLERK,3000.00,0.00,124,50
198,Donald,OConnell,DOCONNEL,650.507.9833,1987-09-23,SH_CLERK,2600.00,0.00,124,50
199,Douglas,Grant,DGRANT,650.507.9844,1987-09-24,SH_CLERK,2600.00,0.00,124,50

In [16]:
--10. write a SQL query to find those employees whose salary falls within the range of the smallest salary and 2500. Return all the fields.
select * from employees1 where SALARY between (select min(SALARY) from employees1) and 2500

EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
119,Karen,Colmenares,KCOLMENA,515.127.4566,1987-07-06,PU_CLERK,2500.00,0.00,114,30
127,James,Landry,JLANDRY,650.124.1334,1987-07-14,ST_CLERK,2400.00,0.00,120,50
128,Steven,Markle,SMARKLE,650.124.1434,1987-07-15,ST_CLERK,2200.00,0.00,120,50
131,James,Marlow,JAMRLOW,650.124.7234,1987-07-18,ST_CLERK,2500.00,0.00,121,50
132,TJ,Olson,TJOLSON,650.124.8234,1987-07-19,ST_CLERK,2100.00,0.00,121,50
135,Ki,Gee,KGEE,650.127.1734,1987-07-22,ST_CLERK,2400.00,0.00,122,50
136,Hazel,Philtanker,HPHILTAN,650.127.1634,1987-07-23,ST_CLERK,2200.00,0.00,122,50
140,Joshua,Patel,JPATEL,650.121.1834,1987-07-27,ST_CLERK,2500.00,0.00,123,50
144,Peter,Vargas,PVARGAS,650.121.2004,1987-07-31,ST_CLERK,2500.00,0.00,124,50
182,Martha,Sullivan,MSULLIVA,650.507.9878,1987-09-07,SH_CLERK,2500.00,0.00,120,50
191,Randall,Perkins,RPERKINS,650.505.4876,1987-09-16,SH_CLERK,2500.00,0.00,122,50

In [18]:
--11. write a SQL query to find those employees who do not work in the departments where managers IDs are between 100 and 200 (Begin and end values are included.). Return all the fields of the employees.
select * from employees1 where department_id not in (select department_id from departments where MANAGER_ID between 100 and 200)

EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
178,Kimberely,Grant,KGRANT,011.44.1644.429263,1987-09-03,SA_REP,7000.00,0.15,149,0
201,Michael,Hartstein,MHARTSTE,515.123.5555,1987-09-26,MK_MAN,13000.00,0.00,100,20
202,Pat,Fay,PFAY,603.123.6666,1987-09-27,MK_REP,6000.00,0.00,201,20
203,Susan,Mavris,SMAVRIS,515.123.7777,1987-09-28,HR_REP,6500.00,0.00,101,40
204,Hermann,Baer,HBAER,515.123.8888,1987-09-29,PR_REP,10000.00,0.00,101,70
205,Shelley,Higgins,SHIGGINS,515.123.8080,1987-09-30,AC_MGR,12000.00,0.00,101,110
206,William,Gietz,WGIETZ,515.123.8181,1987-10-01,AC_ACCOUNT,8300.00,0.00,205,110

In [21]:
--12. write a SQL query to find those employees who get second-highest salary. Return all the fields of the employees.
select * from employees1 
where EMPLOYEE_ID in(select EMPLOYEE_ID from employees1 
WHERE SALARY=(select max(SALARY) from employees1 
where SALARY<(select max(SALARY) from employees1)))

EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
101,Neena,Kochhar,NKOCHHAR,515.123.4568,1987-06-18,AD_VP,17000.00,0.00,100,90
102,Lex,De Haan,LDEHAAN,515.123.4569,1987-06-19,AD_VP,17000.00,0.00,100,90

In [23]:
--13. write a SQL query to find those employees who work in the same department as Clara. Exclude all those records where first name is Clara. Return first name, last name and hire date.
select first_name,last_name ,hire_date from employees1 where DEPARTMENT_ID=(select DEPARTMENT_ID from employees1 where FIRST_NAME='Clara') and FIRST_NAME<>'Clara'

first_name,last_name,hire_date
John,Russell,1987-08-01
Karen,Partners,1987-08-02
Alberto,Errazuriz,1987-08-03
Gerald,Cambrault,1987-08-04
Eleni,Zlotkey,1987-08-05
Peter,Tucker,1987-08-06
David,Bernstein,1987-08-07
Peter,Hall,1987-08-08
Christopher,Olsen,1987-08-09
Nanette,Cambrault,1987-08-10
Oliver,Tuvault,1987-08-11
Janette,King,1987-08-12
Patrick,Sully,1987-08-13
Allan,McEwen,1987-08-14
Lindsey,Smith,1987-08-15
Louise,Doran,1987-08-16
Sarath,Sewall,1987-08-17
Danielle,Greene,1987-08-19
Mattea,Marvins,1987-08-20
David,Lee,1987-08-21
Sundar,Ande,1987-08-22
Amit,Banda,1987-08-23
Lisa,Ozer,1987-08-24
Harrison,Bloom,1987-08-25
Tayler,Fox,1987-08-26
William,Smith,1987-08-27
Elizabeth,Bates,1987-08-28
Sundita,Kumar,1987-08-29
Ellen,Abel,1987-08-30
Alyssa,Hutton,1987-08-31
Jonathon,Taylor,1987-09-01
Jack,Livingston,1987-09-02
Charles,Johnson,1987-09-04

In [24]:
--14. write a SQL query to find those employees who work in a department where the employees first name contains the letter 'T'. Return employee ID, first name and last name.
select EMPLOYEE_ID,FIRST_NAME,LAST_NAME from employees1 WHERE DEPARTMENT_ID IN(select DEPARTMENT_ID from employees1 where FIRST_NAME LIKE '%T%')

EMPLOYEE_ID,FIRST_NAME,LAST_NAME
100,Steven,King
101,Neena,Kochhar
102,Lex,De Haan
120,Matthew,Weiss
121,Adam,Fripp
122,Payam,Kaufling
123,Shanta,Vollman
124,Kevin,Mourgos
125,Julia,Nayer
126,Irene,Mikkilineni
127,James,Landry
128,Steven,Markle
129,Laura,Bissot
130,Mozhe,Atkinson
131,James,Marlow
132,TJ,Olson
133,Jason,Mallin
134,Michael,Rogers
135,Ki,Gee
136,Hazel,Philtanker
137,Renske,Ladwig
138,Stephen,Stiles
139,John,Seo
140,Joshua,Patel
141,Trenna,Rajs
142,Curtis,Davies
143,Randall,Matos
144,Peter,Vargas
145,John,Russell
146,Karen,Partners
147,Alberto,Errazuriz
148,Gerald,Cambrault
149,Eleni,Zlotkey
150,Peter,Tucker
151,David,Bernstein
152,Peter,Hall
153,Christopher,Olsen
154,Nanette,Cambrault
155,Oliver,Tuvault
156,Janette,King
157,Patrick,Sully
158,Allan,McEwen
159,Lindsey,Smith
160,Louise,Doran
161,Sarath,Sewall
162,Clara,Vishney
163,Danielle,Greene
164,Mattea,Marvins
165,David,Lee
166,Sundar,Ande
167,Amit,Banda
168,Lisa,Ozer
169,Harrison,Bloom
170,Tayler,Fox
171,William,Smith
172,Elizabeth,Bates
173,Sundita,Kumar
174,Ellen,Abel
175,Alyssa,Hutton
176,Jonathon,Taylor
177,Jack,Livingston
179,Charles,Johnson
180,Winston,Taylor
181,Jean,Fleaur
182,Martha,Sullivan
183,Girard,Geoni
184,Nandita,Sarchand
185,Alexis,Bull
186,Julia,Dellinger
187,Anthony,Cabrio
188,Kelly,Chung
189,Jennifer,Dilly
190,Timothy,Gates
191,Randall,Perkins
192,Sarah,Bell
193,Britney,Everett
194,Samuel,McCain
195,Vance,Jones
196,Alana,Walsh
197,Kevin,Feeney
198,Donald,OConnell
199,Douglas,Grant
201,Michael,Hartstein
202,Pat,Fay

In [26]:
--15. write a SQL query to find those employees who earn more than the average salary and work in the same department as an employee whose first name contains the letter 'J'. Return employee ID, first name and salary.
SELECT EMPLOYEE_ID,FIRST_NAME,LAST_NAME,SALARY FROM employees1
WHERE SALARY>(SELECT AVG(SALARY) FROM employees1) AND DEPARTMENT_ID IN(SELECT DEPARTMENT_ID FROM employees1 WHERE FIRST_NAME LIKE '%j%')

EMPLOYEE_ID,FIRST_NAME,LAST_NAME,SALARY
108,Nancy,Greenberg,12000.00
109,Daniel,Faviet,9000.00
110,John,Chen,8200.00
111,Ismael,Sciarra,7700.00
112,Jose Manuel,Urman,7800.00
113,Luis,Popp,6900.00
120,Matthew,Weiss,8000.00
121,Adam,Fripp,8200.00
122,Payam,Kaufling,7900.00
123,Shanta,Vollman,6500.00
145,John,Russell,14000.00
146,Karen,Partners,13500.00
147,Alberto,Errazuriz,12000.00
148,Gerald,Cambrault,11000.00
149,Eleni,Zlotkey,10500.00
150,Peter,Tucker,10000.00
151,David,Bernstein,9500.00
152,Peter,Hall,9000.00
153,Christopher,Olsen,8000.00
154,Nanette,Cambrault,7500.00
155,Oliver,Tuvault,7000.00
156,Janette,King,10000.00
157,Patrick,Sully,9500.00
158,Allan,McEwen,9000.00
159,Lindsey,Smith,8000.00
160,Louise,Doran,7500.00
161,Sarath,Sewall,7000.00
162,Clara,Vishney,10500.00
163,Danielle,Greene,9500.00
164,Mattea,Marvins,7200.00
165,David,Lee,6800.00
168,Lisa,Ozer,11500.00
169,Harrison,Bloom,10000.00
170,Tayler,Fox,9600.00
171,William,Smith,7400.00
172,Elizabeth,Bates,7300.00
174,Ellen,Abel,11000.00
175,Alyssa,Hutton,8800.00
176,Jonathon,Taylor,8600.00
177,Jack,Livingston,8400.00

In [28]:
--16.  write a SQL query to find those employees whose department is located at Toronto. Return first name, last name, employee ID, job ID.
select first_name, last_name,employee_id,job_id from employees1 
WHERE DEPARTMENT_ID=(select DEPARTMENT_ID from departments 
where LOCATION_ID=(select LOCATION_ID from locations where city='Toronto'))

first_name,last_name,employee_id,job_id
Michael,Hartstein,201,MK_MAN
Pat,Fay,202,MK_REP

In [29]:
--17. write a SQL query to find those employees whose salary is lower than that of employees whose job title is MK_MAN. Return employee ID, first name, last name, job ID.
select EMPLOYEE_ID,FIRST_NAME,LAST_NAME,JOB_ID from employees1 where SALARY<any(select SALARY from employees1 where JOB_ID='MK_MAN')

EMPLOYEE_ID,FIRST_NAME,LAST_NAME,JOB_ID
103,Alexander,Hunold,IT_PROG
104,Bruce,Ernst,IT_PROG
105,David,Austin,IT_PROG
106,Valli,Pataballa,IT_PROG
107,Diana,Lorentz,IT_PROG
108,Nancy,Greenberg,FI_MGR
109,Daniel,Faviet,FI_ACCOUNT
110,John,Chen,FI_ACCOUNT
111,Ismael,Sciarra,FI_ACCOUNT
112,Jose Manuel,Urman,FI_ACCOUNT
113,Luis,Popp,FI_ACCOUNT
114,Den,Raphaely,PU_MAN
115,Alexander,Khoo,PU_CLERK
116,Shelli,Baida,PU_CLERK
117,Sigal,Tobias,PU_CLERK
118,Guy,Himuro,PU_CLERK
119,Karen,Colmenares,PU_CLERK
120,Matthew,Weiss,ST_MAN
121,Adam,Fripp,ST_MAN
122,Payam,Kaufling,ST_MAN
123,Shanta,Vollman,ST_MAN
124,Kevin,Mourgos,ST_MAN
125,Julia,Nayer,ST_CLERK
126,Irene,Mikkilineni,ST_CLERK
127,James,Landry,ST_CLERK
128,Steven,Markle,ST_CLERK
129,Laura,Bissot,ST_CLERK
130,Mozhe,Atkinson,ST_CLERK
131,James,Marlow,ST_CLERK
132,TJ,Olson,ST_CLERK
133,Jason,Mallin,ST_CLERK
134,Michael,Rogers,ST_CLERK
135,Ki,Gee,ST_CLERK
136,Hazel,Philtanker,ST_CLERK
137,Renske,Ladwig,ST_CLERK
138,Stephen,Stiles,ST_CLERK
139,John,Seo,ST_CLERK
140,Joshua,Patel,ST_CLERK
141,Trenna,Rajs,ST_CLERK
142,Curtis,Davies,ST_CLERK
143,Randall,Matos,ST_CLERK
144,Peter,Vargas,ST_CLERK
147,Alberto,Errazuriz,SA_MAN
148,Gerald,Cambrault,SA_MAN
149,Eleni,Zlotkey,SA_MAN
150,Peter,Tucker,SA_REP
151,David,Bernstein,SA_REP
152,Peter,Hall,SA_REP
153,Christopher,Olsen,SA_REP
154,Nanette,Cambrault,SA_REP
155,Oliver,Tuvault,SA_REP
156,Janette,King,SA_REP
157,Patrick,Sully,SA_REP
158,Allan,McEwen,SA_REP
159,Lindsey,Smith,SA_REP
160,Louise,Doran,SA_REP
161,Sarath,Sewall,SA_REP
162,Clara,Vishney,SA_REP
163,Danielle,Greene,SA_REP
164,Mattea,Marvins,SA_REP
165,David,Lee,SA_REP
166,Sundar,Ande,SA_REP
167,Amit,Banda,SA_REP
168,Lisa,Ozer,SA_REP
169,Harrison,Bloom,SA_REP
170,Tayler,Fox,SA_REP
171,William,Smith,SA_REP
172,Elizabeth,Bates,SA_REP
173,Sundita,Kumar,SA_REP
174,Ellen,Abel,SA_REP
175,Alyssa,Hutton,SA_REP
176,Jonathon,Taylor,SA_REP
177,Jack,Livingston,SA_REP
178,Kimberely,Grant,SA_REP
179,Charles,Johnson,SA_REP
180,Winston,Taylor,SH_CLERK
181,Jean,Fleaur,SH_CLERK
182,Martha,Sullivan,SH_CLERK
183,Girard,Geoni,SH_CLERK
184,Nandita,Sarchand,SH_CLERK
185,Alexis,Bull,SH_CLERK
186,Julia,Dellinger,SH_CLERK
187,Anthony,Cabrio,SH_CLERK
188,Kelly,Chung,SH_CLERK
189,Jennifer,Dilly,SH_CLERK
190,Timothy,Gates,SH_CLERK
191,Randall,Perkins,SH_CLERK
192,Sarah,Bell,SH_CLERK
193,Britney,Everett,SH_CLERK
194,Samuel,McCain,SH_CLERK
195,Vance,Jones,SH_CLERK
196,Alana,Walsh,SH_CLERK
197,Kevin,Feeney,SH_CLERK
198,Donald,OConnell,SH_CLERK
199,Douglas,Grant,SH_CLERK
200,Jennifer,Whalen,AD_ASST
202,Pat,Fay,MK_REP
203,Susan,Mavris,HR_REP
204,Hermann,Baer,PR_REP
205,Shelley,Higgins,AC_MGR
206,William,Gietz,AC_ACCOUNT

In [30]:
--18.  write a SQL query to find those employees whose salary is lower than that of employees whose job title is "MK_MAN". Exclude employees of Job title MK_MAN. Return employee ID, first name, last name, job ID.
select employee_id,CONCAT(FIRST_NAME,' ',LAST_NAME),JOB_ID from employees1
where SALARY < any(select SALARY from employees1 ex)